@import './variables';
@import './mixins';

// Hola ayelen, este es mi trabajo. lo que hice en este trabajo es crear "map" para la paleta de colores ( $palette ) y fui llamandola en los background-color. 
// luego use "@extend" para copiar los estilos de textos ( .main/contenedorCajas/caja1 y caja2)
// por ultimo cree un "@mixin" para ir posicionando distintos contenidos de un div (.contenedorCajas) 



 

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: black;
}


.navbar{
    background-color: map-get($map: $palette , $key: 'color1');
    justify-content:right;
    margin: 0px;
    ul{
        display: flex;
        margin: 0px;
        li{
            list-style: none;
            padding: 10px;
            a{
                font-family: "trispace";
                text-decoration: none;
                color: white;
                font-size: 20px;
            }
        }
    }   
}

.header {
    background-color: map-get($map: $palette, $key: 'color2' );
    display:flex;
    width: 100%;
    justify-content: center;
        img{
            width: 600px;
            margin: 20px;
        }
}


    

.main{
    div{
        background-color: map-get($map: $palette , $key: 'color3');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px;
        
    }

    .contenedorCajas{
        @include cajas (center);
    
        .caja1{
            background-color: map-get($map: $palette, $key: 'color1');
            color: map-get($map: $palette, $key:'color4' );
            font-family: impact;
            margin: 20px;
           
        }
        
        .caja2{
            @extend .caja1;
            font-family: monospace ;
            text-decoration: line-through;
        }
    }

    .contenedorCajas2{
        @include cajas (left);

        .caja1{
            background-color: map-get($map: $palette, $key: 'color1');
            color: map-get($map: $palette, $key:'color4' );
            font-family: impact;
            margin: 20px;
           
        }
        
        .caja2{
            @extend .caja1;
            font-family: monospace ;
            text-decoration:overline;
        }
    }
        

   .contenedorCajas3{
        @include cajas (right);

            .caja1{
                background-color: map-get($map: $palette, $key: 'color1');
                color: map-get($map: $palette, $key:'color4' );
                font-family: impact;
                margin: 20px;
            }
        
            .caja2{
                @extend .caja1;
                font-family: monospace ;
                text-decoration:underline;
            }    
        }
    
}



